<!-- <div>
 <h1>Modifier le type et le thème de la catégorie</h1>
 <form *ngIf="types" [formGroup]="typeForm" (ngSubmit)="onSubmit()">
   <label for="name">Nom du type:</label>
   <input type="text" id="name" formControlName="name" name="name">
   <br>
   <button type="submit">Enregistrer les types</button>
 </form>

 <form *ngIf="themes" [formGroup]="themeForm" (ngSubmit)="onSubmit()">
   <label for="name">Nom du thème:</label>
   <input type="text" id="name" formControlName="name" name="name">
   <br>
   
   <button type="submit">Enregistrer les thèmes</button>
 </form>
 <button (click)="annuler()">Annuler</button>
</div> -->
