<div class="container-xxl bg-light my-3 py-5 ">
	<div class="card">
		<div class="container my-2 py-2 ">
      <form *ngIf="Categorie" [formGroup]="CategorieForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
					<div class="col-12 mb-2">
						<h2>Modifier Categorie</h2>
					</div>

    <div class="container my-2 py-2">
     <div class="col-lg-6 col-md-4">
     <h3>Nom de Categorie:</h3>
     <input type="text" placeholder="Enter name" class="form-control"
      id="name" formControlName="name" name="name" required>
    </div>
    </div>
  
    <div class=" col-12">
     <h3>Description de Categorie:</h3>
     <textarea class="form-control" rows="4" class="form-control" id="exampleInputName"
     id="description" formControlName="description" name="description" required
      placeholder="écrire ici ..."></textarea>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <a class="btn btn-primary" [routerLink]="['/edit-type-theme', Categorie.id]">Suivant</a>
        </div>
				</div>
  </div>
 
			</form>
		</div>
	</div>
</div>