<app-barre-recherche (search)="onSearch($event)" (clear)="onClear()"></app-barre-recherche>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-10 col-md-6"></div>
        <div class="col-lg-2 col-md-6 mt-4" >
            <button class="btn btn-outline-primary mb-2 me-4 " routerLink="/ajouter-compte">Ajouter un compte</button>
 </div> 

<div class="container-fluid">

    <div class="card">
        <div class="card-header bg-primary text-white px-6">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="card-title text-white mb-0">List managers et experts</h2>
                </div>
                <div class="col-md-3">
                    <div class="d-flex">
                        <label class="form-label text-white me-2">Filtrer par :</label>
                        <select id="role-select" class="form-select" [(ngModel)]="selectedRole">
                            <option value="manager">Manager</option>
                            <option value="expert">Expert</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body p-6">
            <table class="table table-striped">
                <thead>
                    <tr>

                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let items of (selectedRole === 'manager' ? managerComptes : expertComptes)  | paginate: { itemsPerPage: pageSize, currentPage: page }" >
                <td><a [routerLink]="['/detail-compte', items.id]">{{items.nom}}</a></td>
                <td>{{items.prenom}}</td>
                <td>{{items.email}}</td>
                <td >{{items.role}}</td>
                <td>
                    <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" ngbTooltip="modifier"
                    [routerLink]="['/edit-compte', items.id]"><i
                            class="fa fa-pencil"></i></button>
                    <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" ngbTooltip="supprimer"
                        (click)="deleteCompte(items)"><i class="fa fa-trash"></i></button>

                </td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
