<app-barre-recherche (search)="onSearch($event)" (clear)="onClear()"></app-barre-recherche>
<br>
<div class="container-fluid">

    <div class="card">
        <div class="card-header bg-primary text-white px-6">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-6">
                    <h2 class="card-title text-white mb-0">List clients</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-6">
            <table class="table table-striped">
                <thead>
                    <tr>

                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of  comptes | paginate: { itemsPerPage: pageSize, currentPage: page }">
                <td><a [routerLink]="['/detail-compte', items.id]">{{items.nom}}</a></td>
                <td>{{items.prenom}}</td>
                <td>{{items.email}}</td>
                <td >{{items.role}}</td>
                <td>
                    <button class="btn btn-primary text-uppercase" style="margin-left: 10px;"
                    [routerLink]="['/edit-compte', items.id]" ngbTooltip="modifier"><i
                            class="fa fa-pencil"></i></button>
                            <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" ngbTooltip="supprimer"
                            (click)="deleteCompte(items)"><i class="fa fa-trash"></i></button>

                </td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>