<app-barre-recherche></app-barre-recherche>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-10 col-md-6"></div>
        <div class="col-lg-2 col-md-6 mt-4">
        <app-ajouter-tags></app-ajouter-tags>
    </div>
  </div> 
  <div class="card-header bg-primary text-white px-6">
    <div class="d-flex justify-content-between align-items-center">
        <div class="me-6">
            <h2 class="card-title text-white mb-0">List Tags</h2>
        </div>
  
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr>
          <td>
            <span class="pl-{{ item.level }} cursor-pointer" (click)="toggleExpand(item)">
              <span *ngIf="item.children && item.children.length > 0">
                <i class="fas fa-caret-right mr-1" [ngClass]="{'rotate-icon': item.expanded}"></i>
              </span>
              {{ item.title }}
            </span>
          </td>
          <td>{{item.description}}</td>
        </tr>
        <ng-container *ngIf="item.children && item.children.length > 0 && item.expanded">
          <ng-container *ngFor="let child of item.children">
            <tr>
              <td>
                <span class="pl-{{ child.level }} cursor-pointer" (click)="toggleExpand(child)">
                  <span *ngIf="child.children && child.children.length > 0">
                    <i class="fas fa-caret-right mr-1" [ngClass]="{'rotate-icon': child.expanded}"></i>
                  </span>
                  {{ child.title }}
                </span>
              </td>
              <td>{{child.description}}</td>
            </tr>
            <ng-container *ngIf="child.children && child.children.length > 0 && child.expanded">
              <ng-container *ngFor="let grandChild of child.children">
                <tr>
                  <td>
                    <span class="pl-{{ grandChild.level }} cursor-pointer" (click)="toggleExpand(grandChild)">
                      <span *ngIf="grandChild.children && grandChild.children.length > 0">
                        <i class="fas fa-caret-right mr-1" [ngClass]="{'rotate-icon': grandChild.expanded}"></i>
                      </span>
                      {{ grandChild.title }}
                    </span>
                  </td>
                  <td>{{grandChild.description}}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table></div>
  
  

  