<app-barre-recherche (search)="onSearch($event)" (clear)="onClear()"></app-barre-recherche>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-10 col-md-6"></div>
        <div class="col-lg-2 col-md-6 mt-4" >
      <app-ajouter-tags></app-ajouter-tags>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-primary text-white">
      <div class="d-flex justify-content-between align-tagss-center">
        <h2 class="card-title text-white mb-0">List Tags</h2>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let tags of tags">
        <ng-container *ngTemplateOutlet="tagsTemplate; context: {$implicit: tags, level: 0}"></ng-container>
        
      </ng-container>    
    </tbody>
  </table>
</div>
</div>

<!-- définition du template pour chaque élément -->
<ng-template #tagsTemplate let-tags let-level="level">
  <tr>
    <td>
      <span class="pl-{{ level }} cursor-pointer" (click)="toggleExpand(tags)">
        <span *ngIf="tags.children && tags.children.length > 0">
          <i class="fas fa-caret-right mr-1" [ngClass]="{'rotate-icon': tags.expanded}"></i>
        </span>
        {{ tags.title }}
      </span>
    </td>
    <td>{{tags.description}}</td>
    <td>
      <button class="btn btn-primary text-uppercase"style="margin-left: 10px;" ngbTooltip="modifier" 
      ><i class="fa fa-pencil" [routerLink]="['/edit-tags', tags.id]"></i></button>
      <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" 
      (click)="deleteTags(tags)" ngbTooltip="supprimer"
        ><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  <!-- si l'élément a des enfants et qu'il est ouvert, on appelle récursivement le template pour chaque enfant -->
  <ng-container *ngIf="tags.children && tags.children.length > 0 && tags.expanded">
    <ng-container *ngFor="let child of tags.children">
      <ng-container *ngTemplateOutlet="tagsTemplate; context: {$implicit: child, level: level + 1}"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
