<div class="container-xxl bg-light my-3 py-5 ">
	<div class="card">
		<div class="container my-2 py-2 ">
			<form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
				<div class="row g-3">
					<div class="col-12 mb-2">
						<h2>Ajouter Article</h2>
					</div>
					<!-- titre -->
					<div class="container" style="margin-top: 20px;">
						<div class="card">
							<div class="card-header">
								<h3>Titre</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-8 col-md-12">
										<label>Titre:</label>
										<input type="text" name="Titre" class="form-control" placeholder="Entrer Titre"
											id="titre" formControlName="titre"  required>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- categorie -->
					<div class="container" style="margin-top: 50px;">
						<div class="card">
							<div class="card-header">
								<h3>Categorie</h3>
							</div>
							<div class="card-body">
								<div class="col-lg-6 col-md-12">
									<label>Categorie :</label>
									<select class="form-select" name="categories" [(ngModel)]="selectedCategorieName"
										(change)="onCategorieChange()" id="categorie" formControlName="categorie" >
										<option selected="true">--Select Categorie--</option>
										<option *ngFor="let categorie of categories" [value]="categorie.name">
											{{categorie.name}}</option>
									</select>
								</div>
								<div class="row g-3">
									<div class="col-lg-6 col-md-6">
										<label>Type :</label>
										<select class="form-select" name="types" [(ngModel)]="selectedThemeName"
											id="type" formControlName="type" >
											<option selected="true">--Select Type--</option>
											<option *ngFor="let type of types" [value]="type.name">{{type.name}}
											</option>
										</select>
									</div>
									<div class="col-lg-6 col-md-6">
										<label>Thème :</label>
										<select class="form-select" name="themes" [(ngModel)]="selectedTypeName"
											id="theme" formControlName="theme" >
											<option selected="true">--Select Thème--</option>
											<option *ngFor="let theme of themes" [value]="theme.name">{{theme.name}}
											</option>
										</select>
									</div>
									<div class="col-lg-6 col-md-6">
										<label>Tags</label>
										<input type="text" name="Tags" class="form-control" placeholder="Entrer Tags"
											id="tags" formControlName="tags"  required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- date de publication -->
					<div class="container" style="margin-top: 50px;">
						<div class="card">
							<div class="card-header">
								<h3>Date de publication</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<label>Date : </label>
										<input type="date" placeholder="Entrer Date" class="form-control"
											id="date_publication" formControlName="date_publication" >
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- reference de texte -->
					<div class="container mt-5">
						<div class="card">
							<div class="card-header">
								<h3>Référence de texte</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label for="exampleNumber">Référence :</label>
											<input type="number" class="form-control" id="exampleNumber"
												placeholder="Entrer réference" id="reference" 
												formControlName="reference">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- abstract -->
					<div class="container mt-5">
						<div class="card">
							<div class="card-header">
								<h3>Abstract de texte</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label for="exampleNumber">Abstract :</label>
											<textarea class="form-control" rows="4" class="form-control"
												id="exampleInputName" id="abstract" formControlName="abstract" 
												placeholder="écrire ici ..."></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- article -->
					<div class="container mt-5">
						<div class="card">
							<div class="card-header">
								<h3>Article</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label for="exampleNumber">Créer un document :</label>
											<input type="file" id="fichier" formControlName="fichier" >

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" col-lg-10 col-md-8"></div>
					<div class=" col-lg-2 col-md-8">
						<button class="btn btn-primary text-uppercase" type="submit">Ajouter <i class="fa fa-check"
								style="color:write;"></i></button>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<!-- <input type="file" id="fichier" formControlName="fichier">
<angular-editor id="textFichier" formControlName="textFichier"
											placeholder="écrire ici ..."
											class="outline-none px-6 py-5 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow "
											[(ngModel)]="textFichier">
										</angular-editor> -->