<div class="section-intro pt-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="input-group rounded">
          <input type="text" class="form-control form-control-lg rounded" placeholder="Recherche" [(ngModel)]="searchTerm" (input)="onSearch()">      
          <button class="btn btn-primary btn-lg rounded" type="button" (click)="onClear()">Effacer</button>
        </div>
      </div>
    </div>
  </div>
</div>


          <!-- <button class="btn btn-primary rounded-pill px-5" type="button" id="btnRecherche"><i class="fa fa-search-plus" aria-hidden="true"></i> Chercher</button> -->
