<!-- Top app bar navigation menu-->
<nav class="p-2 d-flex justify-content-end">

    <!-- Navbar buttons-->
    <!-- Notifications dropdown-->
    <div class="dropdown">

        <div class="dropdown dropdown-notifications">

            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> {{TicketCount}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let Ticket of Tickets" ngbDropdownItem
                        [routerLink]="['/repondre-ticket', Ticket.id]">{{ Ticket.status}}

                    </button>

                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="m-2"></div>
    <!-- User profile dropdown-->
    <div class="dropdown">

        <div class="dropdown dropdown-profile">

            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa fa-user"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem routerLink="/profil"> <i class="fa fa-user-plus"></i>Profile</button>
                    <button ngbDropdownItem> <i class="fa fa-cog"></i>Paramètres</button>
                    <button ngbDropdownItem> <i class="fa fa-question-circle"></i>Help</button>
                    <hr class="dropdown-divider" />
                    <button ngbDropdownItem> <i class="fa fa-sign-out" (click)="logout()"></i>Déconnexion</button>

                </div>
            </div>
        </div>
    </div>


</nav>