<div class="container-xxl bg-light my-3 py-5 ">
	<div class="card">
		<div class="container my-2 py-2 ">
      <form *ngIf="Partenaire" [formGroup]="PartenaireForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
					<div class="col-12 mb-2">
						<h2>Modifier Partenaire</h2>
					</div>

    <div class="container my-2 py-2">
        <div class="form-group">
          <h3> Nom :</h3>
          <input type="text" class="form-control" formControlName="nom" name="nom" required>
        </div>
        <div class="form-group">
          <h3> Email :</h3>
          <input type="email" class="form-control" formControlName="email" name="email" required>
        </div>
        <div class="form-group">
          <h3> Téléphone :</h3>
          <input type="text" class="form-control" formControlName="telephone" name="telephone" required>
        </div>
        <div class="form-group mt-3">
          <h3>Logo :</h3> <img src="assets/img/{{ Partenaire.image }}" style="width: 50px; height: 50px;">
          <input type="file" formControlName="image" name="image">
        </div>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn btn-secondary"(click)="annuler()">Annuler</button>

        </div>
				</div>
  </div>
			</form>
		</div>
	</div>
</div>