<app-barre-recherche></app-barre-recherche>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-10 col-md-6"></div>
        <div class="col-lg-2 col-md-6 mt-4" >
            <button class="btn btn-outline-primary mb-2 me-4 " routerLink="/ajouter-Document" >Ajouter un article</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="card-title text-white mb-0">List Documents </h2>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-2">Title</th>
                        <th class="col-7">Abstract</th>
                        <th class="col-1.5">Tags</th>
                        <th class="col-1.5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of articles | paginate: { itemsPerPage: pageSize, currentPage: page }">
                        <td>

                            <div class="fw-bold"><a [routerLink]="['/detail-document', item.id]">{{item.titre}}</a></div>
                            <div class="text-muted small">
                                <span class="me-2">Reference: {{item.reference}}</span>
                                <br>
                                <span>Publié le: {{item.date_publication}}</span>
                            </div>
                        </td>
                        <td>
                            <p >{{item.abstract}}</p>
                        </td>
                        <td>{{item.tags}}
                            <!-- <ul>
                                <li *ngFor="let title of item.tags">
                                    {{ getTagName(title) }}
                                </li>
                            </ul> -->
                        </td>
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="tooltip" ngbTooltip="modifier"
                            [routerLink]="['/edit-document', item.id]"><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>