<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="p-16">
      <div class="mb-16">
        <a [routerLink]="['/home']" class="d-flex align-items-center">
          <span class="ms-16 fw-medium fs-26">User</span>
        </a>

      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather> <span class="ps-4">{{
                sidenav.menu }}</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Header -->
   
    <button type="button" class="ms-4" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    >      <i class="fa fa-bars"></i></button>
    <app-header></app-header>
    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>



  </mat-sidenav-content>

</mat-sidenav-container>