<div class="container-xxl bg-light my-3 py-5 ">
	<div class="card">
		<div class="container my-2 py-2 ">
      <form *ngIf="Offre" [formGroup]=" OffreForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
					<div class="col-12 mb-2">
						<h2>Modifier Offre</h2>
					</div>

    <div class="container my-2 py-2">
     <div class="col-lg-6 col-md-4">
     <h3> Titre:</h3>
     <input type="text" placeholder="Enter Titre" class="form-control"
      id="titre" formControlName="titre" name="titre" required>
    </div>
    </div>
    <div class="col-lg-6 col-md-4">
     <h3> Période:</h3>
     <input type="text" placeholder="Enter Période" class="form-control"
      id="periode" formControlName="periode" name="periode" required>
    </div>
    <div class="col-lg-6 col-md-4">
     <h3> Price:</h3>
     <input type="text" placeholder="Entrer le prix en Dinar Tunisien" class="form-control" 
     id="prix" formControlName="prix" name="prix" required>
    </div>
    <div class="row g-3">
    <div class="col-lg-6 col-md-4">
      <h3>Date Debut :</h3>
      <input type="text" placeholder="Entrer date debut" class="form-control" 
      id="dateDebut" formControlName="dateDebut" name="dateDebut" required>
    </div>
    <div class=" col-lg-6 col-md-4">
      <h3>Date Fin :</h3>
      <input type="text" placeholder="Entrer date fin" class="form-control" 
      id="dateFin" formControlName="dateFin" name="dateFin" required>
    </div>
  </div>
    <div class=" col-12">
     <h3>Description:</h3>
     <textarea  rows="4" class="form-control" id="exampleInputName"
     id="description" formControlName="description" name="description" required
      placeholder="écrire ici ..."></textarea>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn btn-secondary" (click)="annuler()">Annuler</button>
        </div>
				</div>
  </div>
			</form>
		</div>
	</div>
</div>